.score-list {
  margin-top: 2rem;
  width: 200px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.list-title {
  border-bottom: 1px dashed grey;
}

.container-list-title {
  margin-bottom: 1rem;
}
